[project]
authors = ["Willow Ahrens <willow.marie.ahrens@gmail.com>"]
channels = ["conda-forge"]
description = "Sparse And Structured Tensor Programming"
name = "finch-tensor-lite"
platforms = ["osx-arm64"]
version = "0.1.0"

[tasks]
compile = "python -c 'import finch'"

[dependencies]
python = ">=3.10,<3.13"

[pypi-dependencies]
finch-tensor-lite = { path = ".", editable = true, extras = ["test"] }

[feature.test.tasks]
test = { cmd = "pytest", depends-on = ["compile"] }
type-check = { cmd = "mypy ." }

[environments]
test = ["test"]
